body{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Assets/bg-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: radial-gradient(circle, #464ef8, #007fff, #0aa6ff, #6ec8ff, #b7e5fd); */
}
input{
    outline: none;
    border: none;
    background: none;
}
input::placeholder{
    color: white;
}
.act:hover{
   
box-shadow: 2px 2px 5px #fbfdff;
transition: 0.25s;
}
button{
    background: none;
    color: white;
    border-color: white;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}
.bb{
    backdrop-filter: blur(55px);
    background: transparent;
    
}
.hh a{
    
    background: none;
    color: white;
    border-color: white;
}
.hh a:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}
/* textarea{
   
    background: transparent;
    border: none;
    outline: none;
    background-color: rgba(0,0, 0, 0);
} */
#signup{
    color: white;
}
.hh #signup:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}